/*General*/
body{
    background: #eee;
}

/*Navbar*/
ul.nav.navbar-nav span.glyphicon {
    margin-right: 4px;
}

/*Login and Register Layout*/
.box-form.login, .box-form.register{
    background: #FFFFFF;
    border:1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;
}

/*Form Button*/
button#backendbundle_user_Registrarse, input#login_button,button#backendbundle_user_Guardar{
    margin-top: 20px;
}